.rowMenu {
    background-color: #3572EF;
    margin: 0;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
}

.rowMargin {
    margin: 0;
}

body {
    align-items: center;
    background-color: #3ABEF9;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #3572EF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #3ABEF9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3572EF;
}

.juego {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.juego img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

span {
    font-size: 24px;
    color: white;
}

#resultado {
    font-size: 18px;
    color: white;
    margin-top: 20px;
}