html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 10px;
  background:#3498DB;
} 

.rowMenu{
	margin: 0;
	background-color:orange;
}

.rowMargin{
	margin: 0;
}

h4{
	text-align:center;
	color:black;
	font-family:Bell MT;
}	

#menu{
	padding: 0;
}

.menu{
	list-style: none;
	background:orange;
	font-family:Bell MT;
}
	
.menu li a{
	color:black;
	padding: 1px 8px;
	border: #3498DB 5px solid;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background:#3498DB;
}

.menu li{
	text-decoration:none;
	color:black;
	padding:20px;
	display:block;
	display:inline-block;
	text-align:center;
}

.menu li a:hover{
	background:orange;
}

h1{
	font-size:4.2em;
	text-align:center;
	color:white;
	font-family:Bell MT;
}

.etiqueta{
	background:orange;
	color:white;
	text-align:center;
	padding: 1px 5px;
	border: orange 2px solid;
	border-radius: 20px;
	width:50%;
	margin-left:25%;
	margin-right:25%;
}

.pie{
	background-color:orange;
	text-align:left;
	font-family:Bell MT;
}

.textos{
	text-align:center;
	font-family:Bell MT;
}

.textos2{
	text-align:center;
	font-family:Bell MT;
	font-size:1.4em;
	color:white;
}

.titulos{
	font-size:1.3em;
	color:red;
	text-align:center;
	font-family:Bell MT;
}	

.btn{
	background-color:orange;
	text-align:center;
	color:black;
	padding: 2px 8px;
	border: orange 5px solid;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-family:Bell MT;
}

.btn:hover{
	background:#3498DB;
}	

.bor{
	filter: drop-shadow(0 0 2.5px black);
}




.slider{
	position:relative;
	width:100%;
	height:40%;
	transform-style:preserve-3d;
	animation:rotate 30s linear infinite;
	align-items:center;
}

@keyframes rotate{
	0%{
		transform:perspective(1000px) rotateY(0deg);
	}	
	
	100%{
		transform:perspective(1000px) rotateY(360deg);
	}
}

.slider span{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform-origin:center;
	transform-style:preserve-3d;
	transform:rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:100px;
	object-fit:cover;
	transition:2s;
}	

.slider span:hover img{
	transform: translateY(-50px) scale(1.2);
}	





.form-register {
  width: 100%;
  background: orange;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Bell MT';
  color: white;
  box-shadow: 7px 13px 37px black;
  border: orange 2px solid;
  border-radius: 20px;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: orange !important;
  padding: 7px;
  border-radius: 20px;
  margin-bottom: 16px;
  border: 2px solid #3498DB;
  font-family: 'Bell MT';
  font-size: 18px;
  color: white;
  text-align:center;
}

.ojito{
	background:orange !important;
	border: 2px solid #3498DB;
}	

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background-color: #3498DB;
  border: none;
  padding: 9px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 20px;
}

.form-register .botons2 {
  width: 100%;
  background: #01DF01;
  border: none;
  padding: 9px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 20px;
}

.form-register .botons3 {
  width: 100%;
  background: red;
  border: none;
  padding: 9px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 20px;
}

.form-register h2{
	text-align:center;
	margin-bottom:20px;
	font-size:1.5em;
	font-family:Bell MT;
}	





.form-register2 {
  width: 100%;
  background: orange;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Bell MT';
  color: white;
  box-shadow: 7px 13px 37px black;
  border: orange 2px solid;
  border-radius: 20px;
}

.form-register2 h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.form-register2 h6 {
  color:black;
  font-family: 'Bell MT';
}

.form-register2 h2{
	text-align:center;
	margin-bottom:20px;
	font-size:1.5em;
	font-family:Bell MT;
}	

.controles2 {
  width: 100%;
  background: orange !important;
  padding: 6px;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 2px solid #3498DB;
  font-family: 'Bell MT';
  font-size: 18px;
  color: white;
  text-align:center;
}

.controles3 {
  width: 26%;
  background: orange !important;
  padding: 6px;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 2px solid #3498DB;
  font-family: 'Bell MT';
  font-size: 18px;
  color: white;
  text-align:center;
}

.form-register2 p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register2 a {
  color: white;
  text-decoration: none;
}

.form-register2 a:hover {
  color: white;
  text-decoration: underline;
}

.form-register2 .botones {
  width: 100%;
  background-color: #3498DB;
  border: none;
  padding: 9px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 20px;
}

.form-register2 .botones2 {
  width: 100%;
  background: #01DF01;
  border: none;
  padding: 9px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 20px;
}

.form-register2 .botones3 {
  width: 100%;
  background: red;
  border: none;
  padding: 9px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 20px;
}

.cuadrotex{
	background:white;
	border: #3498DB 2px solid;
	border-radius: 20px;
	width:100%;
}

.tex{
	text-align:center;
	font-family:Bell MT;
	font-size:1.7em;
	color:white;
}

.tex2{
	text-align:center;
	font-family:Bell MT;
	color:black;
	font-size:1.1em;
}

.btn2{
	width:100%;
	background: #01DF01;
	border: none;
	padding: 9px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
	border-radius: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}