body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}
.text-light, .navbar-brand {
    color: #fff !important;
}
.card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex; /* Activar Flexbox */
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: center; /* Centrar contenido verticalmente */
    align-items: center; /* Centrar contenido horizontalmente */
    text-align: center; /* Alinear texto al centro */
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px; /* Espacio entre el título y el botón */
}

.card .btn {
    background-color: #092e95;
    color: #fff;
    border-radius: 5px;
}

.card .btn:hover {
    background-color: #31363F;
    color: #fff;
}


.usuarios{
    color: #ffffff;
    a{
        background-color: #092e95;
        color: #fff;
        border: none;
    }
}

.clientes{
    color: #ffffff;
    a{
        background-color: #198754;
        color: #fff;
        border: none;
    }
}

.vehiculos{
    color: #ffffff;
    a{
        background-color: #dc3545;
        color: #fff;
        border: none;
    }
}

.servicios{
    color: #ffffff;
    a{
        background-color: #ffc107;
        color: #fff;
        border: none;
    }
}

.salirInicio {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    text-align: left;
    z-index: 9999;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100%; /* Tooltip aparece a la derecha del elemento */
    top: 50%; /* Centrado verticalmente con respecto al elemento */
    transform: translateY(-50%); /* Para asegurarse de que esté centrado verticalmente */
    background-color: #092EA4; /* Fondo azul */
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0s 0.3s, transform 0.3s ease;
    z-index: 1;
}

.salirInicio:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) translateX(10px); /* Ligeramente desplazado a la derecha con animación */
    transition: opacity 0.3s ease, visibility 0s, transform 0.3s ease;
}
